<ul class="bg-blue-200 text-black flex ps-[35rem] justify-end font-extrabold">
  <li class="p-2"><a href="/">Sign Up</a></li>
  <li class="p-2"><a href="/loginn">Login</a></li>
  <li class="p-2"><a href="/auth">AuthPage</a></li>
  <li class="p-2"><a href="/logout">Log Out</a></li>
</ul>
